 @layer components {
  .modal-body {
    @apply flex flex-col gap-3 p-6 w-fit max-w-2xl;
  }

  .modal-footer {
    @apply flex
      flex-col
      items-stretch
      justify-center
      gap-4
      border-t
      border
      py-5
      px-6
      xs:flex-row-reverse
      xs:items-center
      xs:justify-start;
  }
}
